In [4]:
import torch
from scipy.spatial.distance import cosine
from transformers import AutoModel, AutoTokenizer
import pandas as pd

In [5]:
# Функция проверки
def simCSE(texts, tokenizer = AutoTokenizer.from_pretrained("princeton-nlp/sup-simcse-bert-base-uncased"), 
           model = AutoModel.from_pretrained("princeton-nlp/sup-simcse-bert-base-uncased")):
    # Запишем всё в список
    texts = list(texts)
    inputs = tokenizer(texts, padding=True, truncation=True, return_tensors="pt")
    
    with torch.no_grad():
        embeddings = model(**inputs, output_hidden_states=True,return_dict=True).pooler_output
        
    # Создаём фрэйм ответов
    df = pd.DataFrame(columns=['index_texts1', 'index_texts2', 'cosine'])
    # Двлйной цикл для проверки
    for i in range(len(texts)):
        for j in range(len(texts)):
            if (i != j):
                cosine_sim = 1 - cosine(embeddings[i], embeddings[j])
                df.loc[len(df.index)] = [i, j, cosine_sim]
    return df

In [6]:
df = pd.read_csv('change-it.ilgiornale.train.csv')
# Пока что тестово возьмём 10 текстов
texts = df.full_text.values[0:10]

In [7]:
test = simCSE(texts)
test

    index_texts1  index_texts2    cosine
0            0.0           1.0  0.865025
1            0.0           2.0  0.919143
2            0.0           3.0  0.829169
3            0.0           4.0  0.800412
4            0.0           5.0  0.700795
..           ...           ...       ...
85           9.0           4.0  0.856634
86           9.0           5.0  0.676875
87           9.0           6.0  0.894642
88           9.0           7.0  0.904796
89           9.0           8.0  0.833105

[90 rows x 3 columns]

In [9]:
df2 = pd.read_csv('change-it.repubblica.train.csv')
# Пока что тестово возьмём 10 текстов
texts2 = df2.full_text.values[0:10]
test2 = simCSE(texts2)
test2

    index_texts1  index_texts2    cosine
0            0.0           1.0  0.801929
1            0.0           2.0  0.812673
2            0.0           3.0  0.654123
3            0.0           4.0  0.895463
4            0.0           5.0  0.821997
..           ...           ...       ...
85           9.0           4.0  0.827688
86           9.0           5.0  0.853068
87           9.0           6.0  0.914589
88           9.0           7.0  0.894160
89           9.0           8.0  0.864372

[90 rows x 3 columns]

In [10]:
df = pd.DataFrame(open('кино/Кино/007 Спектр смотреть/007 Спектр смотреть.txt', 'r').read().split('\n'), columns=['texts'])
df

                                                  texts
0     007 спектр 2015 смотреть онлайн полный фильм в...
1     смотреть фильм 007 спектр онлайн бесплатно в х...
2     спектр 007 смотреть онлайн фильм в хорошем кач...
3     007 спектр 2015 смотреть онлайн в качестве бес...
4     смотреть фильм 007 спектр онлайн бесплатно в х...
...                                                 ...
2171                                см фильм 007 спектр
2172                                см фильм спектр 007
2173                                      см 007 спектр
2174                                      см спектр 007
2175

[2176 rows x 1 columns]

In [11]:
test = simCSE(df.texts.values[0:10])
test

    index_texts1  index_texts2    cosine
0            0.0           1.0  0.895455
1            0.0           2.0  0.838672
2            0.0           3.0  0.952034
3            0.0           4.0  0.922773
4            0.0           5.0  0.868246
..           ...           ...       ...
85           9.0           4.0  0.912069
86           9.0           5.0  0.967126
87           9.0           6.0  0.966096
88           9.0           7.0  0.858550
89           9.0           8.0  0.990424

[90 rows x 3 columns]